.container {
    position: 'relative';
    text-align: 'left';
    box-sizing: 'border-box';
    padding: 0;
    overflow: 'hidden';
}

.textarea {
    position: 'absolute';
    top: 0;
    left: 0;
    height: '100%';
    width: '100%';
    resize: 'none';
    color: 'inherit';
    overflow: 'hidden';
    /* -moz-box-sizing: ; */
    /* mozosx-font-smoothing: 'grayscale'; */

    /* WebkitFontSmoothing: 'antialiased'; */
    /* WebkitTextFillColor: 'transparent'; */

}

.highlight {
    position: 'relative';
    pointer-events: 'none';
}

.editor {
    margin: 0;
    border: 0;
    background: 'none';
    box-sizing: 'inherit';
    display: 'inherit';
    font-family: 'inherit';
    font-size: 'inherit';
    font-style: 'inherit';
    font-variant-ligatures: 'inherit';
    font-weight: 'inherit';
    letter-spacing: 'inherit';
    line-height: 'inherit';
    tab-size: 'inherit';
    text-indent: 'inherit';
    text-rendering: 'inherit';
    text-transform: 'inherit';
    white-space: 'pre-wrap';
    word-break: 'keep-all';
    overflow-wrap: 'break-word';
}

/* 
const styles = {
    container: {
        position: 'relative',
        textAlign: 'left',
        boxSizing: 'border-box',
        padding: 0,
        overflow: 'hidden',
    },
    textarea: {
        position: 'absolute',
        top: 0,
        left: 0,
        height: '100%',
        width: '100%',
        resize: 'none',
        color: 'inherit',
        overflow: 'hidden',
        MozOsxFontSmoothing: 'grayscale',
        WebkitFontSmoothing: 'antialiased',
        WebkitTextFillColor: 'transparent',
    },
    highlight: {
        position: 'relative',
        pointerEvents: 'none',
    },
    editor: {
        margin: 0,
        border: 0,
        background: 'none',
        boxSizing: 'inherit',
        display: 'inherit',
        fontFamily: 'inherit',
        fontSize: 'inherit',
        fontStyle: 'inherit',
        fontVariantLigatures: 'inherit',
        fontWeight: 'inherit',
        letterSpacing: 'inherit',
        lineHeight: 'inherit',
        tabSize: 'inherit',
        textIndent: 'inherit',
        textRendering: 'inherit',
        textTransform: 'inherit',
        whiteSpace: 'pre-wrap',
        wordBreak: 'keep-all',
        overflowWrap: 'break-word',
    },
} as const; */